body {
	background: url(img/flo.jpg);
	
	margin: 0 auto;
	width: 75%;
	opacity: 0.95;
	font-family: ‘Courier New’, Courier, monospace;
	padding:10px;
}

/*welcome*/
div.welcome {
	text-align: center;
	font-size: 30px;
	height: 400px;
	width: 70%;
	margin: 0 auto;
	background-color: lightyellow;
	opacity: 0.95;

	/* padding: auto 100px; */
	position: fixed;
	top: 80px;

}

.content{
	text-align: left;
	width: 70%;
	padding:15px;
}
.content a{
	color: black;;
}
.content ul li:hover{
	background-color: #8FAB65;
	color: black;
	margin: 10px;
}
.content li{
	padding:20px;
}


ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}

button{
	background-color: #8FAB65;
	color: white;
	margin: 10px;
}
button:hover {
	background-color:black;
}