body {
	background-color: #FFE6E1;
	
}
#page {
	margin: 0 auto;
	width: 800px;
}
/*menu-bar*/
ul {
	list-style-type: none;
}

ul.menu-bar{
	font-size: 20px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 200px;
	margin: auto auto;
}

.menu-bar li {
	float: left;
}
.menu-bar li a{
	display: block;
	padding: 10px;
	color: #E83F63;
}
a {
	text-decoration: none;
}
.menu>img {
	width: 50px;
	float: left;
}
/*footer*/
.footer { 
	width: 800px;
	text-align: center;
	height:40px; 
	line-height:35px;
	background:#E83F63; 
	position: fixed;
	bottom: 0;
	font-size:12px; 
	color:white; 
	text-align:center;
}

/*welcome*/
div.welcome {
	text-align: center;
	font-size: 30px;
}

