html {
	margin: 0 40px;
}
body{
    /* background: #8FAADC; /* fallback for old browsers */
    /* width: 1000px; */
    margin: 0 auto;
	
	font-family: ‘Courier New’, Courier, monospace;
}

#guide {
    width: 250px;
	height: 700px;
    float: left;
    background-color: lightyellow;
	opacity: 0.9;
	position: absolute;
	top: 89px;
}
iframe{
	margin: 0 270px;
	width: 75%;
	border: none;
	background-color: lightyellow;
	opacity: 0.9;
	height: 700px;
}

p.ggg {
	margin: 0 auto;
    padding: 10px;
}
p.ggg a{
    color:black;
    text-decoration: none;
}
